.phone-icon {
  background-image: url("../assets/svg/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.message-icon {
  background-image: url("../assets/svg/message.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-icon {
  background-image: url("../assets/svg/contacts.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.service-icon {
  background-image: url("../assets/svg/service.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.search-icon {
  background-image: url("../assets/svg/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}