.content {
  width: 100%;
  height: 416px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
 
}

.content__title {
  display: inline-flex;
  align-items: center;
  margin: 24px 0 32px 16px;
  height: 40px;
  width: 233px;
  font-size: 28px;
  letter-spacing: 0em;
 
}

.content__nav{
width: 100%;
}

.content__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  white-space: nowrap;
  margin: 0 16px;
}

.content__link{
  align-items: baseline;
  letter-spacing: -0.2px;
  color: #7e7e82;
  font-size: 16px;
  margin: 0;
}

.link-first {
  background: #ffffff;
  border: 2px solid #b8ffec;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  padding: 8px 16px;
  color: #7e7e82;
}

.content__sidebar{
  width: 100%;
  height: 208px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  

}
.content__text {
  width: 100%;
  height: 160px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.content__subtitle {
  display: inline;
  white-space: nowrap;
  margin-left: 24px;
  width: 100px;
  height: 24px;
}

.content__image {
  width: 100%;
}
/*
.content__subtitle:before,
.content__subtitle:after {
  content: '';
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  background: #a3ffe7;
}
.content__subtitle:before {
  left: 0;
  transform: skew(0deg, 40deg);
  border-radius: 5px 5px 0;
}
.content__subtitle::after {
  right: 0;
  transform: skew(0deg, -40deg);
  border-radius: 5px 5px 5px 0;
}
*/


/*
@media screen and (max-width: 1120px) {
  .header__container {
    width: 100%;
  }

  .header__menu {
    padding: 0 16px;
    margin: 0;
    width: 100%;
  }
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 8px;
  }

  .main {
    width: 100%;
    height: 504px;
  }
}
@media screen and (max-width: 320px) {
  .menu__list {
    display: flex;
    justify-content: stretch;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .header__menu {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .menu__item:nth-child(1) {
    order: 0;
  }
  .menu__item:nth-child(2) {
    order: 2;
  }
  .menu__item:nth-child(3) {
    order: 3;
  }
  .menu__item:nth-child(4) {
    order: 4;
  }
  .menu__item:nth-child(5) {
    order: 5;
  }
}

@media screen and (min-width: 350px) {
  .menu__list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu__item:nth-child(1) {
    order: 0;
  }
  .menu__item:nth-child(2) {
    order: 4;
  }
  .menu__item:nth-child(3) {
    order: 3;
  }
  .menu__item:nth-child(4) {
    order: 5;
  }
  .menu__item:nth-child(5) {
    order: 6;
  }
}

@media screen and (min-width: 480px) {
  .menu__list {
    display: flex;
    justify-content: start;
    width: 100%;
  }
  .button--phon {
    visibility: visible;
  }
  .main__sidebar--text {
    width: 312px;
    height: 160px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #1b1c21;
  }

  .main__sidebar--subtext {
    width: 312px;
    height: 160px;
    display: block;
  }
  @media screen and (min-width: 640px) {
    .menu__list {
      display: flex;
      justify-content: start;
      width: 100%;

    }
    .button--message {
      visibility: visible;
    }
    .item__button--third {
      visibility: visible;
    }
  }
  @media screen and (min-width: 700px) {
    .menu__list {
      display: flex;
      justify-content: start;
      width: 100%;
    }
    .button--contact {
      visibility: visible;
    }
  }
  @media screen and (min-width: 700px) {
    .menu__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .main__item {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .menu__vl {
      visibility: visible;
    }
    .item__button--fourth {
      visibility: visible;
    }
    .main__image {
      order: 2;
    }
  }
  @media screen and (max-width: 784px) {
    body {
      width: 100%;
    }
    .menu__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .menu__item:nth-child(2) {
      order: -1;
    }
    .menu__item:nth-child(3) {
      order: -2;
    }
    .menu__item:nth-child(1) {
      order: -3;
    }
  }
}

