
@media (max-width: 769px){
    header{
        flex-direction: row;
        align-items: center;
    }
}
html{
    max-width:  768px;
    max-height: 504px;
}
body{
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}
ul{
    list-style: none;
    padding: 0;
}
.header__menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: 758px;
    bottom: 88px;
    background: #FFFFFF;
    border-bottom: 2px solid #D9FFF5;
    
}
.header__menu--navigation li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6px;
}

div.header__main--item li{
    display: flex;
    flex-direction: row;
    padding: 0 12px;
    
}
#item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 180px;
}

.main__title{
    display: inline-flex;
    align-items: center;
    white-space: nowrap; 
    margin-top: 24px;
}
.main__title:first-child{
height: 40px;
width: 4px;
}

h1{
font-family: TT Lakes;
font-size: 28px;
line-height: 40px;
letter-spacing: -0.6px;
text-align: left;
height: 40px;
width: 233px;
margin-left: 24px;
}

.main__list a{
    display: flex;
    margin: 24px;
    margin-top: 18px;
    text-decoration: none;
    color: #7E7E82;
    font-size: 16px;
    white-space: nowrap;

}
#list{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.btn--primery{
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 9px 8px 16px;
}
.main__content{
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    padding: 0 ;
}
.main__content p{
margin: 0;
height: 160px;
width: 312px;
font-family: TT Lakes;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
}

.main__content--text p:nth-child(2){
    margin-top: -60px;
    }

.main__content img{
height: 200px;
width: 360px;
border-radius: 5px;
margin: 0 48px;
}

footer{
display: flex;
position:absolute;
flex-direction: row;
align-items: center;
margin: 0;
height: 24px;
left: 33px;
top: 430px;
}
h3{
    margin-left: 16px;
}
 
